* {
    margin: 0;
    padding: 0;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
}

/* --VARIABLES-- */

:root {
    --corAzulDnc: #0C70F2;
    --corHoverNav: #a8aaac;
    --corBrancoDnc: #FFFFFF;
    --corPlaceholder: #39393980;
    --BackgroundGrayDnc: #303030;
}

.margin {
    max-width: 1440px;
    margin: auto;
}

/* --HEADER-- */

nav {
    background-color: var(--BackgroundGrayDnc);
    border-bottom: 1px solid var(--corHoverNav);
}

#menuHeader {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    ul {
        display: flex;
        gap: 20px;
        list-style: none;
        align-items: center;
        li {
            cursor: pointer;
            color: var(--corBrancoDnc);
        }
        li:hover {
            color: var(--corHoverNav);
        }
    }
    button {
        background-color: var(--corAzulDnc);
        border: none;
        padding: 10px;
        font-weight: 600;
        font-size: 20px;
        line-height: 24.2px;
        letter-spacing: 0%;
        cursor: pointer;
        box-shadow: 3px 2px 4px 0px #0C70F240;
        a {
            text-decoration: none;
            color: var(--corBrancoDnc);
        }
    }
}

main{
    background-color: var(--corAzulDnc);
}

#textHeader {
    text-align: center;
    max-width: 950px;
    margin: auto;
    color: var(--corBrancoDnc);
    padding: 50px;
    h1 {
        font-weight: 800;
        font-size: 80px;
        line-height: 96.82px;
        letter-spacing: 0%;
        text-transform: uppercase;
    }
    p{
        font-weight: 500;
        font-size: 40px;
        line-height: 48.41px;
        letter-spacing: 0%;
    
    }
}

/* --SECTION-- */

section {
    background-color: var(--BackgroundGrayDnc);
}
#forms {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 100px;
    background: linear-gradient(to bottom, var(--corAzulDnc), #303030 30%) no-repeat;
    background-size: 100% 30%;
    form {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }
    .formName {
        display: flex;
        flex-direction: column;
        .inputName {
            width: 530px;
        }
        label {
            color: var(--corBrancoDnc);
            font-size: 20px;
            padding-bottom: 5px;
        }
        #formCheckbox {
            width: 550px;
            display: flex;
            justify-content: space-between;
            appearance: none;
        }
        input[type="checkbox"] {
            transform: scale(1.4);
        }
        input::placeholder {
            color: var(--corPlaceholder);
        }
        .inputName {
            border-radius: 10px;
            padding: 10px;
        }
        .inputButton {
            width: 550px;
            border-radius: 10px;
            padding: 5px;
            margin-top: 30px;
            border: none;
            background-color: var(--corAzulDnc);
            font-weight: 600;
            font-size: 22px;
            line-height: 38.73px;
            letter-spacing: 0%;
            color:var(--corBrancoDnc);
            cursor: pointer;
            box-shadow: 0px 6px 4px 0px #0C70F240;
        }
    }
}

/* --FOOTER-- */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--corAzulDnc);
}

#footerContent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1440px;
    margin: auto;
    padding: 40px;

    .listFooter {
        color: var(--corBrancoDnc);
        text-align: center;
        gap: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        h6 {
            text-align: center;
            font-weight: 800;
            font-size: 25px;
            letter-spacing: 0%;
            background-color: var(--BackgroundGrayDnc);
            margin-bottom: 15px;
            border-radius: 10px;
            padding: 10px;
            margin: 0;
        }
        ul { 
            height: 330px;
            li {
                list-style: none;
                cursor: pointer;
                font-size: 25px;
                margin: 20px;
                a {
                    text-decoration: none;
                    color: var(--corBrancoDnc);
                }
                a:hover {
                    color: var(--corHoverNav);
                }
            }
        }
        p {
            width: 550px;
            font-size: 20px;
        }
    }
    
}
#copyright {
    color: var(--corBrancoDnc);
    font-size: 25px;
    padding: 20px;
    text-align: center;
}

/* --RESPONSIVIDADE-- */


/* Extra grandes: até 1440px */
@media (max-width: 1440px) {
    #menuHeader {
        padding: 10px 20px;
        ul {
            gap: 20px;
        }
        button {
            font-size: 20px;
        }
    }
    #textHeader {
        max-width: 750px;
        padding: 30px;
        h1 {
            font-size: 50px;
        }
        p{
            font-size: 30px; 
        }
    }
    #forms {
        padding: 80px;
        form {
            gap: 10px;
        }
        .formName {
            .inputName {
                width: 430px;
            }
            label {
                font-size: 15px;
                padding-bottom: 5px;
            }
            #formCheckbox {
                width: 450px;
            }
            .inputButton {
                width: 450px;
            }
        }
    }
    #footerContent {
        width: 1100px;
        margin: auto;
        padding: 20px;
    
        .listFooter {
            gap: 30px;
            h6 {
                font-weight: 800;
                font-size: 15px;
                padding: 10px;
            }
            ul {     
                height: 200px;          
                li {
                    font-size: 20px;
                    margin: 16px;
                }
            }
            p {
                width: 250px;
                font-size: 20px;
            }
        }
        
    }

    #copyright {
        font-size: 20px;
        padding: 20px;
        text-align: center;
    }
}

/* Grandes: a partir de 992px (desktops) */
@media (max-width: 1200px) {
    #menuHeader {
        padding: 10px 20px;
        ul {
            gap: 20px;
            li {
                font-size: 13px;
            }
        }
        button {
            font-size: 13px;
        }
    }
    #textHeader {
        max-width: 750px;
        padding: 30px;
        h1 {
            font-size: 30px;
        }
        p{
            font-size: 20px; 
        }
    }
    #forms {
        padding: 60px;
        form {
            gap: 10px;
        }
        .formName {
            .inputName {
                width: 330px;
            }
            label {
                font-size: 15px;
                padding-bottom: 5px;
            }
            #formCheckbox {
                width: 350px;
            }
            .inputButton {
                font-size: 15px;
                width: 350px;
            }
        }
    }
    #footerContent {
        width: 690px;
        margin: auto;
        padding: 20px;
    
        .listFooter {
            gap: 30px;
            h6 {
                font-weight: 800;
                font-size: 10px;
                padding: 10px;
            }
            ul {         
                height: 150px;      
                li {
                    font-size: 15px;
                    margin: 16px;
                }
            }
            p {
                width: 150px;
                font-size: 10px;
            }
        }
        
    }

    #copyright {
        font-size: 13px;
        padding: 20px;
        text-align: center;
    }
}

/* Médios: a partir de 768px (tablets) */
@media (max-width: 768px) {
    nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    }
    #menuHeader {
        padding: 10px 20px;
        ul {
            gap: 20px;
            li {
                font-size: 13px;
            }
        }
        button {
            font-size: 13px;
        }
    }
    #textHeader {
        max-width: 750px;
        padding: 30px;
        h1 {
            padding-top: 80px;
            font-size: 30px;
        }
        p{
            font-size: 20px; 
        }
    }
    #forms {
        padding: 60px;
        form {
            gap: 10px;
        }
        .formName {
            .inputName {
                width: 330px;
            }
            label {
                font-size: 15px;
                padding-bottom: 5px;
            }
            #formCheckbox {
                width: 350px;
            }
            .inputButton {
                font-size: 15px;
                width: 350px;
            }
        }
    }
    #footerContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: auto;
        padding: 20px 0px;
        gap: 40px;
    
        .listFooter {
            gap: 10px;
            h6 {
                font-weight: 800;
                font-size: 10px;
                padding: 10px;
            }
            ul {     
                height: auto;          
                li {
                    font-size: 15px;
                    margin: 16px;
                }
            }
            p {
                width: 150px;
                font-size: 10px;
                margin-top: 20px;
            }
        }
        
    }

    #copyright {
        font-size: 13px;
        padding: 20px;
        text-align: center;
    }
}